<!-- Navigation -->
<header
    class="sticky top-0 z-50 flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7eef4] bg-white px-10 py-3 shadow-sm">
    <div class="flex items-center gap-4 text-[#0d161c]">
        <div class="flex items-center gap-2 text-primary">
            <span class="material-symbols-outlined text-3xl font-bold">handyman</span>
            <h1 class="text-xl font-black tracking-tight text-slate-900">Brikoli</h1>
        </div>
    </div>
    <div class="hidden lg:flex flex-1 justify-end gap-8">
        <div class="flex items-center gap-9">
            <a class="text-[#0d161c] text-sm font-medium hover:text-primary transition-colors" href="#">Catégories</a>
            <a class="text-[#0d161c] text-sm font-medium hover:text-primary transition-colors" href="#">Comment ça
                marche</a>
            <a (click)="logout()"
                class="text-[#0d161c] text-sm font-medium hover:text-primary transition-colors">Déconnexion</a>
        </div>
        <button
            class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-6 bg-primary hover:bg-primary/90 transition-colors text-white text-sm font-bold leading-normal tracking-[0.015em]">
            <span class="truncate">Devenir Brikoleur</span>
        </button>
    </div>
    <!-- Mobile Menu Icon -->
    <button class="lg:hidden text-[#0d161c]">
        <span class="material-symbols-outlined">menu</span>
    </button>
</header>